.green{
	background-color: #000000;
	color: #00FF00;
	margin: -10px;
	margin-bottom: -20px;
	padding-top: 10px;
	padding-left: 180px;
}
.glow{
	background-color: #00FF00;
	color: #000000;
	margin: -10px;
	margin-top: 50px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 10px;
	padding-left: 180px;
}

body{
background-color: #000000;
font-family: 'Open Sans', sans-serif;
}


a:hover{
	display: block;
	padding-left: 10px;
	color: #000000;
	background-color: #00FF00;
	margin-left: -10px;
}

a{
	display: block;
	padding-left: 10px;
	color: #00FF00;
	background-color: #000000;
	margin-left: -10px;
}

ul.nav{
	margin-left: -40px;
	position: fixed;
	list-style-type: none;
}
